<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">SALUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="img-home">
    <ion-img src="/assets/undraw_doctors_p6aq.svg"></ion-img>
  </div>
  <h1>BIENVENIDO</h1>
  <h2>Fidel</h2>

  <h3>SALUD</h3>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vida Sana</ion-card-title>
      <ion-card-subtitle>Para tu Salud</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Jerry Vela" src="/assets/jerry-vela.jpeg" />
          </ion-thumbnail>
          <ion-label>Dr. Jerry Vela <span>Quiropráctico</span></ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Clinica AntiTabaco"
              src="/assets/clinica-anti-tabaco.jpeg"
            />
          </ion-thumbnail>
          <ion-label
            >Dr. José Luis Cervantes
            <span>Cardiólogo Internista</span></ion-label
          >
        </ion-item>


      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
