<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">Membresia Oro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="img-container-diamante">
    <ion-img
      class="img-diamante"
      src="/assets/credit-card-6640238_1920.png"
    ></ion-img>
  </div>
  <h3>Membresia Oro</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugiat, sed
    aliquam beatae at alias harum natus maiores nisi rem dolor ab veritatis, qui
    fuga odio. Dolorem tempore minima hic?
  </p>

  <ion-button class="custom-button" expand="block" shape="round">
    Comprar Membresia
  </ion-button>

  <div class="img-container-final">
    <ion-img
      class="img-diamante"
      src="/assets/marketing-4646598_1920.png"
    ></ion-img>
  </div>
</ion-content>
