<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-img
  class="img"
  src="/assets/salesman-33.svg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
<h3>Bienvenidos Doctores</h3>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, ea! Saepe quasi possimus quaerat impedit </p>
<ion-button class="custom-button"  routerLink="/login" expand="block" shape="round">
  Empezar
</ion-button>

</ion-content>
