<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-img
  class="img"
  src="/assets/salesman-33.svg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
<h3>Bienvenidos Doctores</h3>
<p>¡Descubre una nueva forma de ahorrar con nuestra aplicación! Descarga ahora y accede a increíbles descuentos en tus marcas favoritas. No pierdas la oportunidad de disfrutar de ofertas exclusivas, promociones personalizadas y mucho más. Únete hoy y empieza a disfrutar de los beneficios de ser un usuario privilegiado. ¡Tus ahorros te esperan!</p>
<ion-button class="custom-button"  routerLink="/login" expand="block" shape="round">
  Empezar
</ion-button>

</ion-content>
