<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">JERRY VELA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-card>
  <img alt="Silhouette of mountains" src="/assets/jerry-vela.jpeg" />
  <ion-card-header>
    <ion-card-title>Dr. Jerry Vela</ion-card-title>
    <ion-card-subtitle>Quiropráctico</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Descuentos
  </ion-card-content>
</ion-card>

<p>Consulta $300
Incluye: Pruebas ortopédicas, neurales, musculares, corrección de postura, evaluación y diagnóstico.
DESCUENTO 15%


</p>
<p>Terapias $700
Incluye: Terapia con ventosas, ultrasonido, electroestimulación, vendaje kinesiologico. (Terapia de acuerdo al diagnóstico).
DESCUENTO 15%</p>

<p>
  Ajuste completo osteópactico con tracción de columna $400.
DESCUENTO 10%
</p>

<p>Infiltración con plasma (PRP) $1200
Incluye: Consulta de evaluación con procedimiento para dos articulaciones, apertura de espacios y vendaje kinesiologico.
DESCUENTO 20%</p>

<p>Terapia neural segmentaria para regenerar órganos $350
DESCUENTO 10%</p>

<p>Hemovacuna $300.
DESCUENTO 30%</p>

<ion-button class="custom-button"  expand="block" shape="round">
  Tomar Promoción
</ion-button>

</ion-content>
