<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">CUIDADO PERSONAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="img-home">
    <ion-img src="/assets/undraw_dream_world_re_x2yl.svg"></ion-img>
  </div>
  <h1>BIENVENIDO</h1>
  <h2>Fidel</h2>

  <h3>BELLEZA</h3>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Belleza </ion-card-title>
      <ion-card-subtitle>Para tu Salud</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Raices" src="/assets/raices.jpeg" />
          </ion-thumbnail>
          <ion-label>Dr. Doctor Zarco  <span>SPA - Bienestar</span></ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Clinica AntiTabaco"
              src="/assets/metraton.jpeg"
            />
          </ion-thumbnail>
          <ion-label
            >DHC. Judith Meza Jiménez.
            <span>Instituto Virtual Metratron</span></ion-label
          >
        </ion-item>




      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
