<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">LOG IN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="avatar">
    <img  src="/assets/undraw_male_avatar_g98d.svg" alt="Avatar">

  </div>
  <h3>Entrar a la App</h3>
  <p>Entre sus datos para acceder a sus beneficios y ganar puntos.</p>
  <ion-list>
    <ion-item>
      <ion-input
        label="Email"
        label-placement="floating"
        fill="solid"
        placeholder="Entre Email"
        type="email"
      ></ion-input>
    </ion-item>
    <br />

    <ion-item>
      <ion-input
        label="Password"
        label-placement="floating"
        fill="solid"
        placeholder="Entre su Password"
        type="Password"
      ></ion-input>
    </ion-item>
  </ion-list>
  <a href=""><h6>Rescatar Password</h6></a>

  <ion-button
    class="custom-button"
    routerLink="/bienvenida"
    expand="block"
    shape="round"
  >
    Entrar
  </ion-button>

  <h2>No tienes cuenta? Crea una: <a routerLink="/crear-user"> ..Aqui</a></h2>
</ion-content>
