<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img-home">
    <ion-img src="/assets/undraw_undraw_undraw_undraw_undraw_undraw_undraw_undraw_undraw_search_engines_041x_-2-_cl95_o7o8_pigd_-1-_wbm3_t5p8_-1-_mt5l_-2-_dhxr_-2-_nmxe.svg"></ion-img>
  </div>
  <h1>BIENVENIDO</h1>
  <h2>Fidel</h2>
  <br>

  <h3>Promociones</h3>
  <ion-list>
    <ion-item routerLink="/salud">
      <ion-icon slot="start" color="danger" name="pulse-outline"></ion-icon>

      SALUD
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-icon color="danger" slot="start" name="briefcase-outline"></ion-icon>

      JURIDICO
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item routerLink="/cuidado-personal">
      <ion-icon color="danger" slot="start" name="heart-outline"></ion-icon>

      CUIDADO PERSONAL
    </ion-item>
  </ion-list>



  <ion-list>
    <ion-item>
      <ion-icon color="danger" slot="start" name="restaurant-outline"></ion-icon>

      RESTAURANTES
    </ion-item>
  </ion-list>
</ion-content>
