<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">NOTICIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <!--CARD 1-->
  <ion-item>
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="/assets/logoclaustro-2-1.png"
      />
      <ion-card-header>
        <ion-card-title>Curso de Imagen Personal</ion-card-title>
        <ion-card-subtitle>Dr. Gina Palacios</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </ion-item>


  <!--CARD 2-->
  <ion-item>
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="/assets/VixROgt6.jpg"
      />
      <ion-card-header>
        <ion-card-title>Embestidura Ciudad de México</ion-card-title>
        <ion-card-subtitle>Fecha: 05-07-2024</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </ion-item>


  <!--CARD 3-->
  <ion-item>
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="/assets/VixROgt6.jpg"
      />
      <ion-card-header>
        <ion-card-title>Embestidura Ciudad de México</ion-card-title>
        <ion-card-subtitle>Fecha: 05-07-2024</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
