

<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="title" slot="end">JUDITH MEZA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-card>
  <img alt="Silhouette of mountains" src="/assets/metraton.jpeg" />
  <ion-card-header>
    <ion-card-title>DHC. Judith Meza Zarco</ion-card-title>
    <ion-card-subtitle>Fundador CEO de la Institución </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    15 por ciento de desc. En todos los servicios, para Doctores del Claustro
  </ion-card-content>
</ion-card>



<ion-button class="custom-button"  expand="block" shape="round">
  Tomar Promoción
</ion-button>

</ion-content>

